{% extends "base.html" %}
{% block seo_tags %}
<meta property="og:title" content="Posts - {{ config.title | title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ metadata.permalink }}" />
<meta property="og:description" content="Posts on {{ config.title | title }}" />
<meta property="og:site_name" content="{{ config.title }}" />
<meta property="og:locale" content="{{ config.language }}" />
<link rel="canonical" href="{{ metadata.permalink }}" />
<meta name="robots" content="index, follow" />
{% endblock seo_tags %}

{% block title %}Posts{% endblock title %}

{% block content %}
<h1>Posts</h1>

{% for post in posts | sort(attribute="created") | reverse %}
<div class="post-separator">
  <h2 class="post-title-inline">
    <a href="{{ post.permalink }}">{{ post.title }}</a>
  </h2>
  <p class="text-muted post-date">
    <time datetime="{{ post.created }}">{{ post.created | date(format="%B %e, %Y") }}</time>
  </p>
  {% if post.description %}
  <p class="page-description">{{ post.description }}</p>
  {% endif %}
  <p>
    {% if post.truncate_char is defined and post.truncate_char is matching("^nil$") %}
    {% set truncate_char = "" %}
    {% else %}
    {% set truncate_char = "…" %}
    {% endif %}
    {{ post.raw | striptags | truncate(length=200, end=truncate_char) | safe }}
  </p>
</div>
{% endfor %}
{% endblock content %}