{% extends "base.html" %}
{% block seo_tags %}
<meta property="og:title" content="{{ metadata.title | title }} - {{ config.title | title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ metadata.permalink }}" />
<meta property="og:description" content="{{ metadata.description }}" />
<meta property="og:site_name" content="{{ config.title }}" />
<meta property="og:locale" content="{{ config.language }}" />
<link rel="canonical" href="{{ metadata.permalink }}" />
<meta name="robots" content="index, follow" />
{% endblock seo_tags %}

{% block title %}{{ metadata.title | title }}{% endblock title %}

{% block content %}
<h1>{{ metadata.title }}</h1>

<p class="post-meta">
  {% set created = metadata.created | date(format="%B %e, %Y") %}
  <time datetime="{{ metadata.created }}">{{ created }}</time>

  {% if metadata.categories | length > 0 %}
  <span class="tag-spacing">
    Tags:
    {% for category in metadata.categories %}
    <a href="/categories/{{ category }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </span>
  {% endif %}
</p>

{{ content | safe }}
{% endblock content %}