@import "code-blocks.css";
@import "font.css";

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background: #0d1117;
  }
}

/* change color of headings */
h1{
  color: #F5A97F;
  font-size: calc(1rem * pow(1.1, 4));
  text-align: center;
}
h2{
  color: #7DC4E4;
  font-size: calc(1.1rem * pow(1.1, 2));
}
h3{
  color: #F5A97F;
  font-size: calc(1rem * pow(1.1, 1));
}
h4{
  color: #A6DA95;
  font-size: calc(1rem * pow(1.0, 1));
}
h5{
  color: #7DC4E4;
  font-size: calc(1rem * pow(1.1, 0));
}
h6 {
  color: #7DC4E4;
  font-size: calc(1rem * pow(1.1, -1));
}

/* add your own norg icons here*/
h2::before{
  content: '◉ ';
}
h3::before{
  content: '◎ ';
}
h4::before{
  content: '○ ';
}
h5::before{
  content: '✺ ';
}
h6::before{
  content: '▶ ';
}
h7::before {
  content: '⤷ ';
}

/* Styling */

.body {
  color: white;
  background-color: #24273A;
  font-family: "Kosugi Maru", "JetBrains Mono", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: relative;
  padding-bottom: 1em;
}

/* Main content of the page */
.content{
  width: auto;
  max-width: 750px;
  margin: 40px auto;
  padding: 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  line-height: 1.5em;
  text-align: auto;
  text-justify: inter-word;
}

.content a:link {
  color: #b4befe;
  text-decoration: none;
}

.content a:visited {
  color: #7E7EFF;
}
/* links colors on interactions */
.content a:hover {
  color: #f38ba8;
}

.content a:active {
  color: #202030;
}

/* make bold text red */
.content b, strong {
  color: #EE99A0;
}
/* classes for images */
/* center images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

/* Customize the scrollbar */
* {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #64687E #1E1E2E;
}
